.advantages__list {
  @media screen and (min-width: 480px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.advantages__item {
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantages__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background: var(--section-grey-color);
  border-radius: 4px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__caption {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }

  color: var(--title-text-color);
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
