.examples-list {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  margin-bottom: -30px;
}

.examples-list-item-link {
  display: flex;
  flex-direction: column;

  @include transition(box-shadow);

  &:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.examples-list-item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.examples-list-item-block {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples-list-item-caption {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.examples-list-item-desc {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}

.examples-img {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  @include transition(transform);

  .examples-list-item-link:hover & {
    transform: translateY(0);
  }
}
