.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 294px;
  margin-left: 93px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link--current {
  color: var(--accent-color);
}

.menu__item--current::after {
  content: "";
  display: block;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
