.hero--overlay {
  height: 400px;
  // phone background
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-phone.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-phone@2x.jpg);
  }
  // tablet background
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }
  // desktop background
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desktop.jpg);
    height: 600px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-desktop@2x.jpg);
    }
  }
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-color: #c4c4c4;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
