.mobile-menu {
  position: fixed;
  display: flex;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-white-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include transition(opacity);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  &--icon {
    width: 40px;
    height: 40px;
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.mob-nav__link--current {
  color: var(--accent-color);
}

.mob-contacts__list {
  margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.77;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mob-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.mob-social__item {
  margin-left: 10px;
}

.mob-social__link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-social__link--line::after {
  content: "";
  display: block;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
