:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --section-grey-color: #f5f4fa;
  --footer-color: #2f303a;
  --icons-grey-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}